[
    {kvmdb, [
        {port, 8181},
        {max_key_count, 4},
        {max_value_size, 56} %% 56 bits or 7 bytes
    ]},
    {lager, [
        {log_root, "/tmp"},
        %% Default handlers for lager/lager_event
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]},
            {lager_file_backend, [
                {file, "console.log"},
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date," ",time," ",severity," ",pid," [",module,":",line,"]: ",message,"\n"]}
            ]}
         ]}
    ]}
].

