{erl_opts, [
    {parse_transform, lager_transform},
    debug_info,
    warn_export_all,
    warning_as_error,
    {i,"include"},
    {src_dirs,["src"]}
]}.
{deps, [
    {lager,  {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {async,  {git, "https://github.com/platinumthinker/async.git", {branch, "master"}}}
]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [
        kvmdb
    ]}
]}.
{ct_opts, [
    {sys_config, ["./test/config/sys.config"]}
]}.
{relx, [
    {release, {kvmdb, "0.1.0"}, [
        kvmdb,
        lager
    ]},
    {sys_config, "./config/sys.config"},
    {extended_start_script, true}
]}.
